*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.navbar{
    background-color: #ffffff;
    box-shadow: 5px 5px 100px rgba(0, 0, 0, 0.47);
}
.icon{
font-size: 3rem;
}
.btn{
    background-color: rgb(255,192,102);
    color: black;
}
.butn{
 padding: 0.5rem;
 border: none;
}
.hero-text{
    margin-top: 5rem;
}
.hero-heding{
    font-size: 3rem;
}
.heroimage{
    width: 35rem;
}
@media (max-width: 767px){
    .heroimage{
        width: 20rem;
        margin-top: 5rem;
    }
    .hero-text{
        margin-top: -3rem;
        text-align: center;
    
    
    }
}
@media (min-width: 768px) and (max-width: 1024px){
    .heroimage{
       margin-left: 5rem;
       margin-top: 3rem;
       width: 25rem;
    }
    .hero-text{
        text-align: center;
        font-size: 2rem;
    }
    .btn{
        font-size: 2rem;
    }
}